<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qht2005.ylEcosphere.mapper.UserMapper">
    <!--添加用户-->
    <insert id="insert">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="roleId != null">role_id,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="picture != null and picture != ''">picture,</if>
            <if test="userStatus != null">user_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="picture != null and picture != ''">#{picture},</if>
            <if test="userStatus != null">#{userStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <!--修改用户信息-->
    <update id="update">
        update users
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="picture != null and picture != ''">picture = #{picture},</if>
            <if test="userStatus != null">user_status = #{userStatus},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
        </set>
        where id = #{id}
    </update>
    <!--用户分页查询-->
    <select id="pageQuery" resultType="cn.qht2005.ylEcosphere.entry.User">
        select * from users
        <where>
            <if test="username != null and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="phone != null and phone != ''">and phone like concat('%', #{phone}, '%')</if>
            <if test="status != null and status != - 1">and user_status = #{status}</if>
            <if test="roleId != null and roleId != -1">and role_id = #{roleId}</if>
        </where>
        order by create_time desc
    </select>
    <!--根据用户实体对象查询用户-->
    <select id="selectByUser" resultType="cn.qht2005.ylEcosphere.entry.User">
select * from users
        <where>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="picture != null and picture != ''">and picture = #{picture}</if>
            <if test="userStatus != null">and user_status = #{userStatus}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
        </where>
    </select>
</mapper>
