<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qht2005.ylEcosphere.mapper.VolunteerMapper">

    <!--插入志愿者申请表-->
    <insert id="insertVolunteerApplication">
        insert into volunteer_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null">gender,</if>
            <if test="birthday != null">birthday,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="experience != null and experience != ''">experience,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="experience != null and experience != ''">#{experience},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <!--分页查询志愿者申请-->
    <select id="pageQueryForVolunteerApply" resultType="cn.qht2005.ylEcosphere.dto.VolunteerApplyDto">
        select * from volunteer_application
        <where>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>
            <if test="email != null and email != ''">and email like concat('%',#{email},'%')</if>
            <if test="description != null and description != ''">and description like concat('%',#{description},'%')</if>
            <if test="experience != null and experience != ''">and experience like concat('%',#{experience},'%')</if>
           <!-- <if test="createTime != null">and create_time between #{createTime[0]} and #{createTime[1]}</if>-->
            <if test="applyStatus != null" >and apply_status = #{applyStatus}</if>
        </where>
    </select>
</mapper>
